<a href="https://colab.research.google.com/github/jcent-png/delete/blob/main/3d_Range_Objects_4_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Sequences:  Range Objects

### Range Objects

#### The `range()` function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and stops before a specified number.

**Range objects are typically used in looping operations.**

The `range()` syntax is:  range(start, stop, step). The `start` and `step` parameters are optional. If not specified, `start` will be 0 and `step` will be 1.

#### Range object documentation links:  https://docs.python.org/3/library/stdtypes.html#ranges

https://docs.python.org/3/library/functions.html#func-range

In [ ]:
latin_text = """
Sed ut perspiciatis, unde omnis iste natus error sit
voluptatem accusantium doloremque laudantium, totam
rem aperiam eaque ipsa, quae ab illo inventore
veritatis et quasi architecto beatae vitae dicta
"""


print("First 100 characters:\n  {} ...".format(latin_text[:100]))

First 100 characters:

Sed ut perspiciatis, unde omnis iste natus error sit
voluptatem accusantium doloremque laudantium,  ...

In [ ]:
demo_s_ex1 = latin_text[0:100]
print(demo_s_ex1)

Sed ut perspiciatis, unde omnis iste natus error sit
voluptatem accusantium doloremque laudantium,

In [ ]:
def normalize_string(s):
  return s.lower()

normalize_string(latin_text)

'\nsed ut perspiciatis, unde omnis iste natus error sit\nvoluptatem accusantium doloremque laudantium, totam\nrem aperiam eaque ipsa, quae ab illo inventore\nveritatis et quasi architecto beatae vitae dicta\n'

In [ ]:
range_1 = range(5)
display(range_1)

range(0, 5)

In [ ]:
for number in range_1:
    print(number)

0
1
2
3
4

In [ ]:
range_2 = range(0,10,2)
display(range_2)

range(0, 10, 2)

In [ ]:
for number in range_2:
    print(number)

0
2
4
6
8

## Ranges are useful for looping over iterable objects. And this is how you will generally use range objects in this class

### Iterating over a sequence (list in this case) by index, using a `for` loop

In [ ]:
course_list = ['msa' , 'cse' , '6040']

# output the index number
for index in range(len(course_list)):
    print(index)

0
1
2

In [ ]:
course_list = ['msa' , 'cse' , '6040']
# output the index number
for index in range(len(course_list)):
    print(index) # Output 0 1 2

# output the value at the index
for index in range(len(course_list)):
    print(course_list[index]) # Output msa cse 6040

0
1
2
msa
cse
6040

In [ ]:
# add elements to the list
range_list = []

for x in range(10):
    range_list.append(x)

display(range_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

### Iterating over a sequence (tuple in this case) by index, using a `for` loop

In [ ]:
# what is the length of the tuple?
tpl_example = (1,2,3,4,5)
display(len(tpl_example))

5

In [ ]:
# loop over the items in the tuple using a range object
tpl_example = (1,2,3,4,5)

for item in range(len(tpl_example)):
# so the line of code is equivalent to this one
# for item in range(6):
    print(item)
    print(tpl_example[item])
    print('\n')

0
1


1
2


2
3


3
4


4
5

### A quick look at nested loops, using a range() object.

In [ ]:
for i in range(4):
    for j in range(4):
        print((i, j))

(0, 0)
(0, 1)
(0, 2)
(0, 3)
(1, 0)
(1, 1)
(1, 2)
(1, 3)
(2, 0)
(2, 1)
(2, 2)
(2, 3)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

#### Recall in the last notebook, we mentioned the `break` keywork in nested loops.

#### Note that the `break` keyword only terminates the innermost for loop, if the loop running is an interior loop in a series of nested loops.

#### Outer for loops in the nested loop structure will continue to run.

In [ ]:
# what is happening here?
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

### What are your questions on range objects?